Host github.dev
  HostName github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_github_dev
  IdentitiesOnly yes

Host github.creative
  HostName github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_github_creative
  IdentitiesOnly yes
